@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --lead: #212121;
  --gold-finger: #F2bd12;
  --eye-ball: #fffdf7;
  --hint-yellow: #fcf1cc;
  --pure-white: #fff;
}

body {
  background: var(--eye-ball);
}

/* Basic styling */
a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--lead);
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.between {
  justify-content: space-between;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
  padding-inline: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.p-top {
  padding-top: 10rem;
}

.text-center {
  text-align: center;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-auto {
  margin: auto;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-half {
  margin-top: .5rem;
}

.mt-one-half {
  margin-top: 1.5rem;
}

/* header styling */
.navbar {
  min-height: 14vh;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--gold-finger);
}

.btn {
  display: inline-block;
  padding: 0.9rem 2rem;
  background: var(--gold-finger);
  border-radius: 1rem;
  font-size: 1.1rem;
  color: var(--pure-white);
  box-shadow: rgb(0, 0, 0, 0.1) 0 2px 1px;
  transition: .3s ease-in-out;
}

.btn:hover {
  background: var(--lead);
}

.cart-icon {
  position: relative;
  font-size: 1.3rem;
}

.cart-icon .cart-value {
  position: absolute;
  top: 50%;
  right: -10px;
  font-size: .85rem;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 100vw;
  background-color: var(--gold-finger);
  color: var(--lead);
  text-align: center;
  line-height: 20px;
}

.desktop-action .hamburger {
  font-size: 1.5rem;
  display: none;
}

.mobile-menu {
  display: none;
}

/* section styling */

.hero-section {
  min-height: calc(100vh-14vh);
}

.content,
.image-container,
.service-card {
  flex: 1;
  flex-basis: 300px;
}

.hero-section h1 {
  font-size: 5.6vw;
  color: var(--lead);
}

.hero-section h1 span {
  color: var(--gold-finger);
}

.hero-section p {
  font-size: 1.25rem;
  color: gray;
  line-height: 1.8rem;
  font-weight: 400;
  margin-block: 2rem;
  max-width: 550px;
}

.social-icon {
  background-color: var(--hint-yellow);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 3rem;
  box-shadow: rgb(0, 0, 0, 0.1) 0 2px 1px;
  transition: .3s ease-in-out;
}

.social-icon:hover {
  background: var(--lead);
  color: var(--pure-white);
}


/* section 01 */

h5 {
  font-size: 1.2rem;
  letter-spacing: .2rem;
  color: var(--gold-finger);
  text-transform: uppercase;
}

h2 {
  font-size: 3.7rem;
  text-transform: capitalize;
  color: var(--lead);
}

h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--lead);
}

.service-card h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* section 02 */
.order-card {
  flex: 1;
  flex-basis: 300px;
  background-color: var(--pure-white);
  border: .1rem solid var(--gold-finger);
  border-radius: 2rem;
  padding: 0 1rem 2rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px,
    rgba(0, 0, 0, 0.05) 8px 8px 8px inset;

}

.order-card h4 {
  font-size: 1.8rem;
  color: var(--lead);
}

.order-card .price {
  font-size: 1.7rem;
  color: var(--gold-finger);
  padding: 1.3rem 0 2rem 0;
}

.card-image img {
  width: 15rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 10px 10px);
}

/* CART TAB atyling */
.cart-tab {
  background: var(--hint-yellow);
  position: fixed;
  inset: 0 -500px 0 auto;
  width: 25rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.1) -10px -10px 20px;
}

.cart-tab-active {
  inset: 0 0 0 auto;
}

.cart-list {
  flex: 1;
  width: 100%;
  margin-top: 1.5rem;
  overflow: auto;
}

.cart-list::-webkit-scrollbar {
  width: 0;
}

.total-container {
  width: 100%;
  background: var(--gold-finger);
  text-align: center;
  margin-block: 1rem;
  padding-block: 1rem;

}

.total-container h4 {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 400;
}

.btn-container .btn {
  background: var(--lead);
  transition: .3s ease-in-out;
}

.btn-container .btn:hover {
  background: var(--gold-finger);
  color: var(--lead);
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .7rem 1rem;
}

.cart-list .item:nth-child(even) {
  background: var(--eye-ball);
}

.item .item-image img {
  width: 5rem;
}

.item h4 {
  font-size: 1.3rem;
  color: var(--lead);
}

.item .item-total {
  font-weight: 400;
  margin-top: .3rem;
}

.quantity-btn {
  background: var(--lead);
  color: var(--pure-white);
  width: 1.7rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  text-align: center;
  line-height: 1.7rem;
}

.quantity-value {
  font-size: 1.2rem;
  font-weight: 400;
  margin-inline: .6rem;
}

/* section 03 */

.review-container {
  width: 650px;
  max-width: 100%;
  flex: 1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.profile {
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  overflow: hidden;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fa-star {
  color: var(--gold-finger);
}

.arrow {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  background: var(--gold-finger);
  color: var(--lead);
  text-align: center;
  line-height: 2.5rem;
}

/* section 04 */

.app-container {
  background: var(--hint-yellow);
  padding: 3rem 6rem;
  border-radius: 3rem;

}

.app-container h2 {
  font-size: 4.5rem;
}

.app-container .image-container img {
  width: 25rem;
}

.para {
  line-height: 1.5rem;
  color: gray;
}

/* section 05 */

.input-container {
  width: 43rem;
  max-width: 100%;
  background-color: var(--pure-white);
  padding: .8rem;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;

}

input[type="email"] {
  flex: 1;
  height: 7vh;
  background: transparent;
  border: none;
  font-size: 1.1rem;
  padding-left: 1rem;

}

input[type="email"]:focus {
  outline: none;
}

/* footer styling */
.footer-container .flex {
  align-items: flex-start;
}

.footer-container {
  margin-top: 10rem;
  padding-block: 4rem;
  background: var(--hint-yellow);
}

.footer-wrapper {
  flex: 1;
  flex-basis: 150px;

}

.footer-wrapper:nth-child(1) {
  flex: 2;
  flex-basis: 300px;
}

.footer-wrapper .social-icon {
  background-color: var(--pure-white);
}

.footer-wrapper .social-icon:hover {
  background-color: var(--lead);
  color: var(--pure-white);
}

.footer-link {
  color: gray;
  font-size: 1.1rem;
  transition: 0.3s ease-in-out;
}

.footer-link:hover {
  color: var(--lead);
}

/* media queries */

@media screen and (max-width:780px) {

  /* header styling */
  .navlist,
  .desktop-action .btn {
    display: none;
  }

  .desktop-action .hamburger {
    display: block;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    top: 20%;
    left: -100%;
    transform: translateX(-50%);
    width: 20rem;
    padding: 2rem;
    background-color: var(--pure-white);
    border: .1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px,
      rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
    transition: .5s ease-in-out;

  }

  .mobile-menu-active {
    left: 50%;
    transform: translateX(-50%);
  }

  /* section styling */
  /* hero styling */
  .content h1 {
    font-size: 3.6rem;
  }

  .content {
    padding-top: 3rem;
  }

  .gap-2 {
    gap: 1.8rem;
  }

  .gap-4 {
    gap: 4rem;
  }

  /* section 01 */

  h2 {
    font-size: 3rem;
  }

  /* section 04 */
  .app-container {
    padding: 2.2rem;

  }

  .app-container .content h2 {
    font-size: 3.5rem;
  }

}